body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #1a1a1a, #2a1f26);
  color: #f5f5f5;
  text-align: center;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* PENTING */
.slide {
  display: none;
  width: 100%;
  max-width: 340px;
  padding: 20px;
}

.slide.active {
  display: block;
}

img {
  width: 80%;
  border-radius: 15px;
  margin: 20px auto;
}

button {
  padding: 10px 20px;
  background: pink;
  border: none;
  border-radius: 20px;
}

/* LOVE */
.love {
  position: fixed;
  top: -10px;
  color: #ff7aa2;
  font-size: 16px;
  animation: fall linear infinite;
}

@keyframes fall {
  to {
    transform: translateY(110vh);
  }
}

/* MUSIC BUTTON */
#musicBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
